
<div *ngIf="hero">
  <img [src]="hero.image" [alt]="hero.className" class="hero-img">
  <div>
    <h2>{{ hero.name }} - {{ hero.race.name }} {{ hero.className }} </h2>
    <p>Lvl: {{ hero.level }}</p>
    <div>
      <span>{{ hero.currentLifePoint }} / {{ hero.lifePointMax }}</span>
    </div>
    <table>
      <tbody>
        <tr>
          <th>
            <img class="icon-ability" src="../../assets/rpg/sword.png" alt="Damages">
          </th>
          <td>
            {{ hero.damageMin }} - {{ hero.damageMax }}
          </td>
        </tr>
        <tr>
          <th>
            <img class="icon-ability" src="../../assets/rpg/cs.png" alt="Critical Strike">
          </th>
          <td>
            {{ hero.criticalStrike }}%
          </td>
        </tr>
        <tr>
          <th>
            <img class="icon-ability" src="../../assets/rpg/defense.png" alt="Defense">
          </th>
          <td>
            {{ hero.defense }}%
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
