
$yatzee-case-size: 72px;
$yatzee-border-size: 0.5em;

.case-size-pieces {
    width: $yatzee-case-size - 3;
    height: $yatzee-case-size - 3;
}

.dice-container {
  max-width: ($yatzee-case-size * 5);
}

.highlight-dice {
  border: $yatzee-border-size double darkcyan;
}
