<div class="app-wrapper">
  <div class="header">
    <h1>HB R3 - Projet Cours</h1>
  </div>

  <div class="container main-container">
    <div>
      <a routerLink="/algo-typescript"
         class="btn btn-primary"
      >
        Algo Typescript
      </a>
      <a routerLink="/year-finder/{{age}}"
         class="btn btn-primary"
      >
        Year Finder
      </a>
      <a routerLink="/cours-syntaxe"
         class="btn btn-primary"
      >
        Syntaxe Angular
      </a>
      <a routerLink="/exo-syntaxe"
         class="btn btn-primary"
      >
        Exo Syntaxe
      </a>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="footer">
    @HB - Projet Cours
  </div>
</div>
